html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 0 !important;
}

.canvas-container{
    margin-top: 5px;
    margin-bottom: 5px;
    padding : 20px;
    width: 100%;
    height: 78%;
    position: relative;
}

canvas{
    width: 100%;
    height: 100%;
}

.nav-item{
    margin-top:1em;
}

.dropdown {
    margin-left: 1em;
}

.dropdown-item {
    display: inline-flex;
    width: 9em;
}

.scrollable-dropdown {
    height: auto;
    max-height: 60em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo{
    margin-right: 1em;
    margin-left: 1em;
    width:3em;
    height:3em;
}

.color-square{
    height: 1em;
    width: 1em;
    margin-top: 5px;
    margin-left: 5px;
}